*{
    margin: 0%;
    padding: 0%;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}


body{
	background-color: #f1ebeb;
    font-family: sans-serif;
}





.wrapper .sidebar{
	background: white;
	position: relative;
	top: 0;
	left: 0;
	margin-top: 10px;
	padding: 20px 0;
	border-radius: 0 60px 60px 0;
	transition: all 0.5s ease;
	box-shadow:  1px 1px 1px white;
}







.wrapper .sidebar ul li {
	display: block;
	padding: 13px 30px;
	border-bottom: 1px solid green;
	color: #5fbe7d;
	font-size: 16px;
	position: relative;
    margin-bottom: 10px;
}



.wrapper .sidebar ul li a .icon{
	color: #5fbe7d;
	width: 30px;
	display: inline-block;
}




.wrapper .sidebar ul li a .item{
	display: none;
}



.wrapper .sidebar ul:hover .item{
	display: inline-block;
	margin-left: 10px;
}



.wrapper .sidebar ul li a .item{
	color:#5fbe7d;
}



.wrapper .sidebar ul li a .item:hover{
	color: black;
}



.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
	color: #0c7db1;
}


.wrapper .sidebar ul li:hover .icon,
.wrapper .sidebar ul li.active .icon{
	color: black;
}


.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
	display: block;
}



.wrapper .section{
	width: 10px;
	transition: all 0.5s ease;
}


.wrapper .section .top_navbar{
	background-color: rgba(255, 255, 255, 0.837);
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0  40px 0 12px;
 
}


.wrapper .section .top_navbar .hamburger a{
	font-size: 28px;
	color: #5fbe7d;
}


.wrapper .section .top_navbar .hamburger a:hover{
	color: #0f0f0f;
}



body.active .wrapper .sidebar{
	left: -225px;
}



body.active .wrapper .section{
	margin-left: 0;
	width: 25px;
}


.list__item{
	list-style-type: none;
	display: inline-block;
	margin: 18px 0 0 20px;
	cursor: pointer;
}






.list__item{
	list-style-type: none;
	display: inline-block;
	margin: 18px 0 0 20px;
	cursor: pointer;
}


.list-right{
	float: right;
	margin-right: 40px;
	color: #5fbe7d;
	font-weight: bolder;
}



.list-right a{
	color: green;
}



.navTitle a{
	color: black;
}




.list-p-left a{
	color: black;
}



.list__item a:hover{
	color:#5fbe7d;
	font-weight: bolder;
} 



.top-header li:hover{
	background-color: white;
	border-radius: 10px;
	padding: 5px 10px;
}



.top-header ul li a{
	text-decoration: none;
}



.navTitle{
	font-size: larger;
	font-weight: 600;
	font-size: 30px;
	margin-left: 100px;
}




.list-p-left{
color: black;
	margin-left: 190px;
	font-weight: bolder;
}




.logout{
	display: none;
	
}

.main-section{
	display: flex;
}


 .hamburger{
	background-color: black;
	width: 30px;
	float: right;
	position: relative;
	top: 27px;
	text-align: center;
	margin-right: 20px;
	display: none;
}


.hamburger a:hover{
	color: #a2ecff;
	
}

.hamburger a{
	color: white;
	align-items: center;
	font-size: 20px;
	
}

.interface{

	margin: 30px 0px 0 10px;
}





.settings{
    background-color: white;
}



.settings p{
    color: black;
    font-weight: bolder;
}


.settings a{
    color: #5fbe7d;
    font-weight: bolder;
    text-decoration: none;
}




.profile-path{
	background-color: rgba(255, 255, 255, 0.494); 
	clip-path: circle();
	width: 100%;
}

.profile-img{
	width: 100%;  
	clip-path: circle();
}


.img-upload{
	margin-top: 120px;
	margin-left: 20px;
}



input[type=text]{
	color: #5fbe7d;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 10px;
	border-radius: 10px;
}


div > a {
	color: gray;
	text-decoration: none;
}

@media only screen and (min-width:1200px) {
	.interface{

		margin: 30px 0px 0 200px;
	}
}

@media only screen and (max-width: 1015px){

	.wrapper .sidebar ul li  {
		display: flex;
	}

}	


@media only screen and (max-width: 700px){
	
	.navTitle{
		margin-left: 60px;
}

.list-p-left{
	margin-left: 60px;
}

.interface{
	margin: 80px 0 0 80px;
}
.hamburger{
	display: block;
}

.wrapper{
	display: none;
}

}



@media (max-width:600px){
	.sideBar{
		display: none;
	}

	
.list-right{
	display: none;
}


.logout{
	display: block;
}



.navTitle{
	margin-left: 40px;
}

.list-p-left{
margin-left: 40px;

}

.interface{
	margin: 40px 0 0 10px;
}



}


@media only screen and (max-width: 767px){

	.img-upload{
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 20px;
	}
	

}



@media only screen and (max-width: 400px){


	

	.navTitle{
		margin-left: 29px;
}

.list-p-left{
	margin-left: 20px;
	
}
}

