*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    padding: 0;
    margin: 0;
    background: linear-gradient(95.15deg, #F2F6FF 13.98%, #FFFFFF 106.1%);
    color: #848D9D;
    font-family: 'Roboto', sans-serif ;
    
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(95.15deg, #F2F6FF 13.98%, #FFFFFF 106.1%);
    color: #232439;
}


.navbar a .web-title:hover{
    background-color: white;
	border-radius: 10px;
    padding: 5px 10px;
    font-weight: bolder;
    color: #01AA71;
}


.web-title {
    font-size: 2.0rem;
    margin-left: 50px;
    color: #232439;
    cursor: pointer;
}


.navbar a{
    text-decoration: none;
    
}


.navbar a:hover{
    color: #01AA71;
    font-weight: bolder;
}

 .navbar-links ul{
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li{
    list-style: none;
     margin-right: 100px;
} 
.navbar-links li a{
    text-decoration: none;
    color: #232439;
    padding: 1rem;
    display: block;
}


.navbar-links li:hover{

    background-color: white;
	border-radius: 10px;
    padding: 5px 10px;
    font-weight: bolder;
    color: #01AA71;
}

.toggle-but{
    position: absolute;
    top: .40rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-top: 20px;
}
 .toggle-but .bar{
    height: 3px;
    width: 100%;
    background-color: #232439;
    border-radius: 10px;
}
hr{
    margin-bottom: 5px;
    border-radius: 5px;
    border-top: 3px solid #232439;
    width: 12%;
    height: 5px;
}

.text{
    color: #6EC37F;
    font-size: 35px;
}
.text1{
    font-size: 35px;
    color: #232439;
}
.socialmedia a{
    color:#232439;
    text-decoration: none;
    text-align: start;
}
.socialmedia a:hover{
    color: #6EC37F;
}
.btn-dark{
    margin-left: 20px;
}

.lady{
    height: 400px;
    border-radius: 20px;
   max-width: 100%;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    filter: none;
    object-fit: cover;
}

.meka{
    height: 400px;
    border-radius: 20px;
    max-width: 100%;
   border-bottom-right-radius: 120px;
   border-bottom-left-radius: 120px;
   filter: none;
    object-fit: cover;
}
.quran{
    height: 190px;
    border-radius: 20px;
    max-width: 100%;
   border-top-right-radius: 120px;
   border-top-left-radius: 120px;
   filter: none;
    object-fit: cover;
}
.man{
    height: 190px;
    border-radius: 20px;
    max-width: 100%;
    margin-top: 20px;
    border-bottom-right-radius: 120px;
   border-bottom-left-radius: 120px;
   filter: none;
    object-fit: cover;
}
.text2{
    color: #6BC57D;
    font-size: 25px;
}
.text3{
    color: #232439;
    font-size: 25px;
}
.box6{
    text-align: center;
    padding-top: 5px;
    box-shadow: 15px 15px 9px whitesmoke ;
    border-radius: 20px;
    border-top-left-radius: 120px;
    border-top-right-radius: 120px;
    background: linear-gradient(95.15deg, #F2F6FF 13.98%, #FFFFFF 106.1%);
}
.box7{
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 5px;
    box-shadow: 15px 15px 9px whitesmoke ;
    border: 2px;
    border-color: white;
    border-radius: 20px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: linear-gradient(95.15deg, #F2F6FF 13.98%, #FFFFFF 106.1%)
}
.box9{
    font-weight: 700;
    margin-top: 50px;
    color: #198C2F;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 15px 15px 9px whitesmoke ;
    background: linear-gradient(95.15deg, #F2F6FF 13.98%, #FFFFFF 106.1%) 
}
.box10{
    margin-inline: 15px;
    font-weight: 700;
    margin-top: 50px;
    color: #198C2F;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 15px 15px 9px whitesmoke ;
    background: linear-gradient(95.15deg, #F2F6FF 13.98%, #FFFFFF 106.1%)
}
.box11{
    margin-inline: 15px;
    font-weight: 700;
    margin-top: 50px;
    color: #198C2F;
    padding-top: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 15px 15px 9px whitesmoke ;
    background: linear-gradient(95.15deg, #F2F6FF 13.98%, #FFFFFF 106.1%)
}
.box12{
    margin-inline: 15px;
    font-weight: 700;
    margin-top: 50px;
    color: #198C2F;
    padding-top: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 15px 15px 9px whitesmoke ;
    background: linear-gradient(95.15deg, #F2F6FF 13.98%, #FFFFFF 106.1%)
}
.box13{
     color:#232439;
     font-weight: 700;
}
.box14{
    background-color: white;
}
.box15{
    background-color: white;
     margin-inline: 20px;
}
.text5{
    font-size: 20px;
    padding-top: 10px;
}
.text6{
    font-size: small;
}
.register{
    border: none;
     margin-top: 20px;
    color: white;
    margin-left: 10px;
    background-color:#01AA71;
    font-size: small;
}
.box17{
    color: #232439;
}
.box16{
    background: linear-gradient(180deg, rgba(255,255,255,0.95)-27.09%, rgb(76,182,76,0.829)158.25%);
}
.text7{
     font-weight: 700;
     padding-top: 30px; 
     color: #232439;    
}
.box19 a{
    text-decoration: none;
    color:  #10A36E;
}
.box20 a{
    text-decoration: none;
    color: #10A36E;
}
#copyright{
    color: white;
    opacity: 0.5;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box21{
    background-color: black;
}
 #animation:hover{

    position: relative;
    top: -25px;
    right: -15px;
    width: 700px;
    height: 100px;
    z-index: 999;
} 

 /* @media screen and (max-width:400px) {
    #animation:hover{

        position: relative;
        top: -25px;
        right: -15px;
        width: 700px;
        height: 100px;
       
    }
}  */
@media(max-width: 1000px) {
    .toggle-but{
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul{
        flex-direction: column;
        width:100%
    }
    .navbar-links li{
        text-align: center;
        padding-left: 55px;
    }
    .navbar-links li a{
        padding: .5rem; 
        text-align: center;
        padding-left: 55px;
    }
    .navbar-links.active{
        display: flex;
    }

    .web-title{
        margin: 0%;
        padding-left: 30px;
    }
    .btn-dark{
     margin-bottom: 20px;
    }
    .body{
        font-weight: bold;
       
    }
    .text{
        font-size: 50px;
    }
    .text1{
        font-size: 50;
    }
    .text2{
       font-size: 35px;
    }
    .text3{
       font-size: 35px;
    }
    .text4{
      font-size: 20px ;
      margin-bottom: 10px;
    }
    .intro{
        text-align: between;
    }
    .text5{
    font-size: 20px;
    }
    .text6{
    font-size: 15px;
    }
    .text7{
        font-size: 40px;
    }
    .box19 a{
        font-size: 20px;
    }
    .box20 a{
        font-size: 20px;
    }
    .socialmedia{
        margin-bottom: 10px;
    }
}
.i-color{
    color: rgb(45, 45, 151);
    font-size: 30px;
    margin: 2px;
}