*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif ;
}

.heading{
    margin-top: 10px;
    margin-bottom: 10px;
}

h2{
    
    font-size: 24px;
}



.web-title{
    color: #232439;
    cursor: pointer;
    font-weight: bolder
}


.web-title:hover{
    
    background-color: white;
	border-radius: 10px;
    padding: 5px 10px;
    font-weight: bolder;
    color: #01AA71;
}


h6{
    margin-top: 10px;   
    font-size: 14px;
    color: #6EC37F;
}

hr{
    border-top: 4px solid #000000;
    width: 10%;
    margin-left: 10px;
    border-end-start-radius: 80px;
    border-start-end-radius: 80px;
    border-start-start-radius: 80px;
    border-end-end-radius: 80px;
    
}

h1{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 18px;
    color: #6EC37F;
}

.login{
    margin-top: 50px;
}

.form-control{
    background: transparent;
    border-color: 1px black;
    border-radius: 30;
    font: size 20px;
}

.btn{
    
    background: white;
    border-color: white;
    color: #6EC37F;
    box-shadow: 10px 14px 16px rgba(112, 156, 118, 0.25);
    border-radius: 25px;
    width: 260px;
    
}

hr.hr2{
    border-top: 4px solid #000000;
    width: 17%;
    margin-left: 10px;
    border-end-start-radius: 80px;
    border-start-end-radius: 80px;
    border-start-start-radius: 80px;
    border-end-end-radius: 80px;

}

h4{
    font-size: 14px;
    color: #949494;
    margin-bottom: 20px;

}

.btn.google{
    color: #000000;
    border-radius:25px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
    height: 34px;
    width: 280px;
    margin-bottom: 12px;
}

.google{
    width: 11px;
    height: 11px;
    margin-bottom: 1px;
}

.googleic{
    padding-right: 10px;
}

.btn.facebook{
    color: #ffffff;
    background: #1a51b8;
    border-radius:25px;
    box-shadow: none;
    height: 38px;
    width: 284px;
    margin-bottom: 18px;
}

.facebookic{
    padding-right: 10px;
}

.newsbg{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.95) -27.09%, rgba(76, 182, 76, 0.829) 158.25%);
}

#news{
    margin-bottom: 5px;
    color: #000000;
    font-size: 26px;
    font-weight: bold;
}

#newstext{
    font-weight: 800;
}

.form-box{
    padding: 8px;
    background: white;
}

#newsemail{
    opacity: 0.4;
}

.subscribe{
    color: #ffffff;
    border-color: #3B864B;
    background: #3B864B;
    width: 120px;
    height: 28px;
    margin-top: 7px;
}



#overview{
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

#advertise{
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.linktext{
    font-weight: 800;
    text-decoration-line: none;
}

#copyright{
    color: white;
    opacity: 0.5;
    padding-top: 15px;
    padding-bottom: 15px;
}
